# /etc/ntp.conf, configuration for ntpd; see ntp.conf(5) for help

driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# You do need to talk to an NTP server or two (or three).
<% @servers.each do |server| -%>
server <%= server %>
<% end -%>
<%# Because of Puppet bug/request number 20923 this test is for the  %>
<%# empty string. Values from Hiera do not test correctly with       %>
<%# the "<% if @var .." test.                                        %>
<% if @peer != '' -%>
peer <%= @peer %>
<% end -%>

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# Local users may interrogate the ntp server more closely.
<% if @master == true -%>
<% if @allow != '' -%>
restrict <%= @allow %>
<% end -%>
<% end -%>
restrict 127.0.0.1
restrict ::1

# Undisciplined Local Clock. This is a fake driver intended for backup
# and when no outside source of synchronized time is available.
#server 127.127.1.0
#fudge  127.127.1.0 stratum 8

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
restrict default kod nomodify notrap nopeer noquery

# No panic on tinker toughts
tinker panic 0
